################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ClientTest/obj/Debug
/Kata/obj
/packages
/UnitTestKata/obj/Debug
